{% extends "hpm_sklad/base.html" %}
{% load static %}

{% block title %}Registrace - Skladová databáze HPM{% endblock %}

{% block left_content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 50vh;">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Registrace</h3>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                        <label for="username">Uživatelské jméno</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="password1">Heslo</label>
                        <input type="password" class="form-control" id="password1" name="password1" required>
                    </div>
                    <div class="form-group">
                        <label for="password2">Potvrzení hesla</label>
                        <input type="password" class="form-control" id="password2" name="password2" required>
                    </div>
                    <div class="form-group text-center my-3">
                        <button type="submit" class="btn btn-outline-dark">Zaregistrovat se</button>
                    </div>
                </form>
                <div class="text-center">
                    <a href="{% url 'login' %}">Máte již účet? Přihlaste se</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
