{% extends "hpm_sklad/base_left_right_column.html" %}
{% load static %}

{% block head %}
    {{ block.super }}  <!-- Dědí veškerý obsah z původního bloku head v base.html -->
{% endblock %}

{% block left_content %}
<h3 class="text-center">Auditovací log</h3>
    <form method="GET" action="" class="search-form">
        <div class="search-group">
            <input class="search" type="text" name="query" placeholder="Vyhledat název dílu" value="{{ request.GET.query }}">
            <label for="typ_operace">Typ operace:</label>
            <select name="typ_operace" class="search" id="typ_operace">
                <option value="VŠE" {% if request.GET.typ_operace == 'VŠE' or not request.GET.typ_operace %}selected{% endif %}>VŠE</option>
                <option value="PŘÍJEM" {% if request.GET.typ_operace == 'PŘÍJEM' %}selected{% endif %}>PŘÍJEM</option>
                <option value="VÝDEJ" {% if request.GET.typ_operace == 'VÝDEJ' %}selected{% endif %}>VÝDEJ</option>
            </select>  
            <label for="month">Vyberte měsíc:</label>
            <select name="month" id="month" class="search">
                <option value="VŠE" {% if request.GET.month == 'VŠE' or not request.GET.month %}selected{% endif %}>VŠE</option>
                <option value="01" {% if request.GET.month == '01' %}selected{% endif %}>Leden</option>
                <option value="02" {% if request.GET.month == '02' %}selected{% endif %}>Únor</option>
                <option value="03" {% if request.GET.month == '03' %}selected{% endif %}>Březen</option>
                <option value="04" {% if request.GET.month == '04' %}selected{% endif %}>Duben</option>
                <option value="05" {% if request.GET.month == '05' %}selected{% endif %}>Květen</option>
                <option value="06" {% if request.GET.month == '06' %}selected{% endif %}>Červen</option>
                <option value="07" {% if request.GET.month == '07' %}selected{% endif %}>Červenec</option>
                <option value="08" {% if request.GET.month == '08' %}selected{% endif %}>Srpen</option>
                <option value="09" {% if request.GET.month == '09' %}selected{% endif %}>Září</option>
                <option value="10" {% if request.GET.month == '10' %}selected{% endif %}>Říjen</option>
                <option value="11" {% if request.GET.month == '11' %}selected{% endif %}>Listopad</option>
                <option value="12" {% if request.GET.month == '12' %}selected{% endif %}>Prosinec</option>
            </select>        
            <label for="year">Vyberte rok:</label>
            <select name="year" id="year" class="search">
                <option value="VŠE" {% if request.GET.year == 'VŠE' or not request.GET.year %}selected{% endif %}>VŠE</option>
                {% for year in years %}
                    <option value="{{ year }}" {% if request.GET.year == year|stringformat:"s" %}selected{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>     
            <label>
                <input type="checkbox" name="ucetnictvi" {% if request.GET.ucetnictvi == 'on' %}checked{% endif %}> Účetnictví
            </label>                 
            <button class="search nav-item" type="submit">Filtrovat</button>            
        </div>
    </form>
    <div class="container-log">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Typ operace</th>
                    <th>Skladová položka</th>                       
                    <th>Změna množství</th>                
                    <th>Jednotky</th>
                    <th>Datum výdeje</th>
                    <th>Datum nákupu</th>
                    <th>Dodavatel</th>
                    <th>Čas operace</th>
                    <th>EUR / jedn.</th>
                    <th>Celkem EUR</th>
                    <th>Operaci provedl</th>
                </tr>
            </thead>
            <tbody class="show-pointer">
                {% for item in object_list %}
                    <tr data-id="{{ item.id }}" data-detail-url="{% url 'detail_audit_log' item.id %}" onclick="loadDetail('{% url 'detail_audit_log' item.id %}', '{{ item.id }}')"
          	    {% if item.id == selected_item.id %} class="selected-row"{% endif %}>  
                        <td>{{ item.id }}</td>
                        <td>{{ item.typ_operace }}</td>
                        <td>{{ item.evidencni_cislo.nazev_dilu }}</td>                   
                        <td>{{ item.zmena_mnozstvi }}</td>
                        <td>{{ item.jednotky }}</td>
                        <td>{{ item.datum_vydeje | date:"d.m.Y" }}</td>
                        <td>{{ item.datum_nakupu | date:"d.m.Y" }}</td>
                        <td>{{ item.dodavatel }}</td>
                        <td>{{ item.cas_vytvoreni | date:"d.m.Y H:i" }}</td>
                        <td>{{ item.jednotkova_cena_eur|floatformat:2 }}</td>
                        <td>{{ item.celkova_cena_eur|floatformat:2 }}</td>
                        <td>{{ item.operaci_provedl.first_name }} {{ item.operaci_provedl.last_name }}</td>
                     </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
    {% include "hpm_sklad/pagination.html" %}
{% endblock %}

{% block script %}
    <script src="{% static 'js/scripts_audit_log.js' %}"></script>
{% endblock %}

