{% extends "hpm_sklad/base_left_right_column.html" %}
{% load static %}
{% load custom_filters %}

{% block left_content %}
    <form method="GET" action="" class="form-inline justify-content-center align-items-center small my-2">
        <div class="form-group form-check mx-sm-2 mb-2">
            <input type="checkbox" class="form-check-input" name="ucetnictvi" id="ucetnictvi" {% if request.GET.ucetnictvi == 'on' %}checked{% endif %}>
            <label class="form-check-label mr-sm-2" for="ucetnictvi">Účetnictví</label>
        </div>    
        <div class="form-group mx-sm-2 mb-2">
            <label for="typ_operace" class="mr-sm-2">Typ operace:</label>
            <select name="typ_operace" class="form-select form-select-sm mr-sm-2" id="typ_operace">
                <option value="VŠE" {% if request.GET.typ_operace == 'VŠE' or not request.GET.typ_operace %}selected{% endif %}>VŠE</option>
                <option value="PŘÍJEM" {% if request.GET.typ_operace == 'PŘÍJEM' %}selected{% endif %}>PŘÍJEM</option>
                <option value="VÝDEJ" {% if request.GET.typ_operace == 'VÝDEJ' %}selected{% endif %}>VÝDEJ</option>
            </select>
        </div>
        <div class="form-group ml-sm-2 mb-2">
            <label for="month" class="mr-sm-2">Vyberte měsíc a rok:</label>
            <select name="month" id="month" class="form-select form-select-sm mr-sm-2">
                <option value="VŠE" {% if request.GET.month == 'VŠE' or not request.GET.month %}selected{% endif %}>VŠE</option>
                <option value="01" {% if request.GET.month == '01' %}selected{% endif %}>Leden</option>
                <option value="02" {% if request.GET.month == '02' %}selected{% endif %}>Únor</option>
                <option value="03" {% if request.GET.month == '03' %}selected{% endif %}>Březen</option>
                <option value="04" {% if request.GET.month == '04' %}selected{% endif %}>Duben</option>
                <option value="05" {% if request.GET.month == '05' %}selected{% endif %}>Květen</option>
                <option value="06" {% if request.GET.month == '06' %}selected{% endif %}>Červen</option>
                <option value="07" {% if request.GET.month == '07' %}selected{% endif %}>Červenec</option>
                <option value="08" {% if request.GET.month == '08' %}selected{% endif %}>Srpen</option>
                <option value="09" {% if request.GET.month == '09' %}selected{% endif %}>Září</option>
                <option value="10" {% if request.GET.month == '10' %}selected{% endif %}>Říjen</option>
                <option value="11" {% if request.GET.month == '11' %}selected{% endif %}>Listopad</option>
                <option value="12" {% if request.GET.month == '12' %}selected{% endif %}>Prosinec</option>
            </select>
        </div>
        <div class="form-group mr-sm-2 mb-2">
            <select name="year" id="year" class="form-select form-select-sm mr-sm-2">
                <option value="VŠE" {% if request.GET.year == 'VŠE' or not request.GET.year %}selected{% endif %}>VŠE</option>
                {% for year in years %}
                    <option value="{{ year }}" {% if request.GET.year == year|stringformat:"s" %}selected{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group mx-sm-2 mb-2">
            <input class="form-control form-control-sm mr-sm-2" type="text" name="query" placeholder="Vyhledat díl / dodavatele" value="{{ request.GET.query }}">
        </div>
        <div class="form-group mx-sm-2 mb-2">
            <button class="btn btn-outline-dark btn-sm" type="submit">Filtrovat</button>
        </div>
        
        <input type="hidden" name="sort" value="{% if request.GET.sort %}{{ request.GET.sort }}{% else %}id{% endif %}">
        <input type="hidden" name="order" value="{% if request.GET.order %}{{ request.GET.order }}{% else %}down{% endif %}">
    </form>

    <div class="container-fluid">
        <table class="table table-sm table-hover table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    {% with request.GET.urlencode as querystring %}
                        <th>
                            <a href="?sort=id&order={% if request.GET.sort == 'id' and request.GET.order == 'up' %}down{% else %}up{% endif %}&{{ querystring|url_remove_param:'sort,order' }}">
                                ID
                                {% if request.GET.sort == 'id' %}
                                    <i class="fas fa-sort-{{ request.GET.order }}"></i>
                                {% endif %}
                                {% if not request.GET.sort %}
                                    <i class="fas fa-sort-down"></i>
                                {% endif %} 
                            </a>
                        </th>
                        <th>
                            <a href="?sort=typ_operace&order={% if request.GET.sort == 'typ_operace' and request.GET.order == 'up' %}down{% else %}up{% endif %}&{{ querystring|url_remove_param:'sort,order' }}">
                                Typ operace
                                {% if request.GET.sort == 'typ_operace' %}
                                    <i class="fas fa-sort-{{ request.GET.order }}"></i>
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort=nazev_dilu&order={% if request.GET.sort == 'nazev_dilu' and request.GET.order == 'up' %}down{% else %}up{% endif %}&{{ querystring|url_remove_param:'sort,order' }}">
                                Název dílu
                                {% if request.GET.sort == 'nazev_dilu' %}
                                    <i class="fas fa-sort-{{ request.GET.order }}"></i>
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort=zmena_mnozstvi&order={% if request.GET.sort == 'zmena_mnozstvi' and request.GET.order == 'up' %}down{% else %}up{% endif %}&{{ querystring|url_remove_param:'sort,order' }}">
                                Změna množství
                                {% if request.GET.sort == 'zmena_mnozstvi' %}
                                    <i class="fas fa-sort-{{ request.GET.order }}"></i>
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort=jednotky&order={% if request.GET.sort == 'jednotky' and request.GET.order == 'up' %}down{% else %}up{% endif %}&{{ querystring|url_remove_param:'sort,order' }}">
                                Jednotky
                                {% if request.GET.sort == 'jednotky' %}
                                    <i class="fas fa-sort-{{ request.GET.order }}"></i>
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort=datum_vydeje&order={% if request.GET.sort == 'datum_vydeje' and request.GET.order == 'up' %}down{% else %}up{% endif %}&{{ querystring|url_remove_param:'sort,order' }}">
                                Datum výdeje
                                {% if request.GET.sort == 'datum_vydeje' %}
                                    <i class="fas fa-sort-{{ request.GET.order }}"></i>
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort=datum_nakupu&order={% if request.GET.sort == 'datum_nakupu' and request.GET.order == 'up' %}down{% else %}up{% endif %}&{{ querystring|url_remove_param:'sort,order' }}">
                                Datum nákupu
                                {% if request.GET.sort == 'datum_nakupu' %}
                                    <i class="fas fa-sort-{{ request.GET.order }}"></i>
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort=dodavatel&order={% if request.GET.sort == 'dodavatel' and request.GET.order == 'up' %}down{% else %}up{% endif %}&{{ querystring|url_remove_param:'sort,order' }}">
                                Dodavatel
                                {% if request.GET.sort == 'dodavatel' %}
                                    <i class="fas fa-sort-{{ request.GET.order }}"></i>
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort=jednotkova_cena_eur&order={% if request.GET.sort == 'jednotkova_cena_eur' and request.GET.order == 'up' %}down{% else %}up{% endif %}&{{ querystring|url_remove_param:'sort,order' }}">
                                EUR / jedn.
                                {% if request.GET.sort == 'jednotkova_cena_eur' %}
                                    <i class="fas fa-sort-{{ request.GET.order }}"></i>
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort=celkova_cena_eur&order={% if request.GET.sort == 'celkova_cena_eur' and request.GET.order == 'up' %}down{% else %}up{% endif %}&{{ querystring|url_remove_param:'sort,order' }}">
                                Celkem EUR
                                {% if request.GET.sort == 'celkova_cena_eur' %}
                                    <i class="fas fa-sort-{{ request.GET.order }}"></i>
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort=cas_vytvoreni&order={% if request.GET.sort == 'cas_vytvoreni' and request.GET.order == 'up' %}down{% else %}up{% endif %}&{{ querystring|url_remove_param:'sort,order' }}">
                                Čas vytvoření
                                {% if request.GET.sort == 'cas_vytvoreni' %}
                                    <i class="fas fa-sort-{{ request.GET.order }}"></i>
                                {% endif %}
                            </a>
                        </th>                        
                        <th>
                            <a href="?sort=operaci_provedl&order={% if request.GET.sort == 'operaci_provedl' and request.GET.order == 'up' %}down{% else %}up{% endif %}&{{ querystring|url_remove_param:'sort,order' }}">
                                Operaci provedl
                                {% if request.GET.sort == 'operaci_provedl' %}
                                    <i class="fas fa-sort-{{ request.GET.order }}"></i>
                                {% endif %}
                            </a>
                        </th>
                    {% endwith %}
                </tr>
            </thead>
            <tbody class="show-pointer">
                {% for item in object_list %}
                    <tr data-id="{{ item.id }}" data-detail-url="{% url 'detail_audit_log' item.id %}" onclick="loadDetail('{% url 'detail_audit_log' item.id %}', '{{ item.id }}')"
                    {% if item.id == selected_item.id %} class="table-info"{% endif %}>  
                        <td>{{ item.id }}</td>
                        <td>{{ item.typ_operace }}</td>
                        <td>{{ item.nazev_dilu|truncatechars:58 }}</td>                   
                        <td>{{ item.zmena_mnozstvi }}</td>
                        <td>{{ item.jednotky }}</td>
                        <td>{{ item.datum_vydeje | date:"d.m.Y" }}</td>
                        <td>{{ item.datum_nakupu | date:"d.m.Y" }}</td>
                        <td>{{ item.dodavatel|truncatechars:20 }}</td>
                        <td>{{ item.jednotkova_cena_eur|floatformat:2 }}</td>
                        <td>{{ item.celkova_cena_eur|floatformat:2 }}</td>
                        <td>{{ item.cas_vytvoreni|date:"d.m.Y" }}</td>                        
                        <td>{{ item.operaci_provedl.last_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  
    {% include "hpm_sklad/pagination.html" %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/scripts_audit_log.js' %}"></script>
{% endblock %}
