{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <title>{% block title %}Skladová databáze HPM{% endblock %}</title>
    </head>
    
    <body>
        <main class="container justify-content-center mb-2">
            <div class="row p-1 border">
                <div class="col p-1 border border-secondary justify-content-center">
                    <header>
                        {% include "hpm_sklad/navbar.html" %}
                    </header>
                    {% block left_content %}{% endblock %}
                </div>
            </div>
        </main>
        
        <footer class="footage">
            {% block footage %}{% endblock %}
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {% block script %}{% endblock %}
        
    </body>
</html>
