{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title>{% block title %}Skladová databáze HPM{% endblock %}</title>
    </head>
    
    <body>
        <main class="app">
            <div class="left-column">
                 <header>
                    {% block navbar %}
                        <nav class="navbar">
                            <div class="navbar-left">
                                {% include "hpm_sklad/navbar.html" %}
                            </div>
                            <div class="navbar-right">
                                {% include "hpm_sklad/login.html" %}
                            </div>
                        </nav>
                    {% endblock %}
                </header>
                {% block left_content %}{% endblock %}
            </div>
            <div class="right-column" id="detail">
                {% block right_content %}{% endblock %}
            </div>
        </main>
        
        <footer class="footage">
            {% block footage %}{% endblock %}
        </footer>

        {% block script %}{% endblock %}
        
    </body>
</html>
