{% extends "hpm_sklad/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Vytvoření poptávky
{% endblock %}

{% block left_content %}
    <h1>Vytvoření poptávky pro dodavatele: {{ dodavatel.dodavatel }}</h1>
    <form method="post" class="form-inline my-4">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            {% crispy form %}
        {% endfor %}
        <div class="d-flex justify-content-center my-3">
            <button type="submit" class="btn btn-dark btn-sm rounded-pill">Uložit</button>
        </div>
    </form>
{% endblock %}

