{% extends "hpm_sklad/base.html" %}
{% load custom_filters %}

{% block title %}
    Vytvoření poptávky
{% endblock %}

{% block left_content %}
    <p class="h3 bg-dark text-white text-center mb-0 mt-2 py-2">Vytvoření poptávky pro dodavatele: {{ dodavatel.dodavatel }}</p>
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
         <table class="table table-sm table-hover table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Varianta</th>
                    <th>Množství</th>
                    <th>Jednotky</th>
                    <th>Do poptávky</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                    <tr class="align-middle">
                        <td class="pt-2">
                            {{ form.varianta }}
                            {% if form.fields.varianta.initial %}
                                {% with varianta=form.fields.varianta.initial %}
                                    {{ varianty_dodavatele|get_instance:varianta.pk }}
                                {% endwith %}
                            {% elif form.cleaned_data.varianta %}
                                {% with varianta=form.cleaned_data.varianta %}
                                    {{ varianty_dodavatele|get_instance:varianta.pk }}
                                {% endwith %}                                                        
                            {% else %}
                                <span class="text-danger">Varianta není zadána</span>
                            {% endif %}
                        </td>
                        <td>
                            {{ form.mnozstvi }}
                        </td>
                        <td class="pt-2">
                            {{ form.jednotky }}
                            {% if form.fields.jednotky.initial %}
                                {{ form.fields.jednotky.initial }}
                            {% elif form.cleaned_data.jednotky %}
                                {{ form.cleaned_data.jednotky }}
                            {% else %}
                                <span class="text-danger">Jednotky nejsou zadány</span>
                            {% endif %}
                        </td>
                        <td class="pt-2">{{ form.should_save }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if formset.non_form_errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for error in formset.non_form_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}        
        <div class="d-flex justify-content-center my-2">
            <button type="submit" class="btn btn-outline-dark btn-sm rounded-pill">Vytvořit poptávku</button>
        </div>
    </form>
{% endblock %}

