{% extends "hpm_sklad/base.html" %}
{% load static %} 
{% load crispy_forms_tags %}

{% block left_content %}
<div class="bg-dark text-white my-2">
    <div class="mx-3 py-2">
        <p class="h5">Vytvoření varianty položky: {{ skladova_polozka }}</p>
        <p class="h5">pro dodavatele: {{ dodavatel }}</p>      
    </div>
</div>

<form class="mt-2" method="post"
    action="{% url 'create_varianty_with_dodavatel' skladova_polozka.pk dodavatel_id %}"
    onsubmit="this.querySelector('button[type=submit]').disabled = true;">
    {% csrf_token %}
    {% crispy form %}
</form>
{% endblock %}
