{% load custom_filters %}

{% include "hpm_sklad/navbar_dodavatele.html" with object=dodavatel %}
<div class="bg-dark text-white mt-3">
    <p class="h6 py-2 px-2">Vytvoření poptávky pro: {{ dodavatel.dodavatel }}</p>
</div>
<form method="post" action="{% url 'create_poptavka' dodavatel_id=dodavatel.pk %}" onsubmit="this.querySelector('button[type=submit]').disabled = true;">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="table table-sm table-hover table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Varianta</th>
                <th>Množství</th>
                <th>Jednotky</th>
                <th>Do poptávky</th>
            </tr>
        </thead>
        <tbody>
            {% for form in formset %}
                <tr class="align-middle">
                    <td class="pt-2">
                        {{ form.varianta }}
                        {% if form.fields.varianta.initial %}
                            {% with varianta=form.fields.varianta.initial %}
                                {{ varianty_dodavatele|get_instance:varianta.pk }}
                            {% endwith %}
                        {% else %}
                            <span class="text-danger">Varianta není inicializována</span>
                        {% endif %}
                    </td>
                    <td class="w-25">{{ form.mnozstvi }}</td>
                    <td class="pt-2">
                        {{ form.jednotky }}
                        {% if form.fields.jednotky.initial %}
                            {{ form.fields.jednotky.initial }}
                        {% else %}
                            <span class="text-danger">Jednotky nejsou inicializovány</span>
                        {% endif %}
                    </td>
                    <td class="pt-2">{{ form.should_save }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if formset.non_form_errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in formset.non_form_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}        
    <div class="d-flex justify-content-center my-2">
        <button type="submit" class="btn btn-outline-dark btn-sm rounded-pill">Vytvořit poptávku</button>
    </div>
</form>
