{% load static %} 
{% load crispy_forms_tags %}

{% include "hpm_sklad/navbar_sklad.html" %}
<div class="navbar navbar-dark bg-dark my-3 pb-0 align-items-center">
    <div>
        <p class="h6 text-white">Smazání skladové položky</p>
        <p class="text-white">{{ object }}</p>
    </div>
</div>

<form class="mt-2" method="post" action="{% url 'delete_sklad' object.pk %}">
    {% csrf_token %}
    <p class="h6 text-center">Opravdu chcete tuto položku smazat?</p>
    <div class="d-flex justify-content-center mt-3">
        <button type="submit" class="btn btn-dark btn-sm rounded-pill">Smazat</button>
    </div>
</form>
