{% load static %} 
{% load crispy_forms_tags %}

{% include "hpm_sklad/navbar_sklad.html" %}
<div class="bg-dark text-white mt-3">
    <p class="h6 py-2 px-2">Smazání položky: {{ object }}</p>
</div>

<form class="mt-2" method="post" action="{% url 'delete_sklad' object.pk %}">
    {% csrf_token %}
    <p class="h6 text-center">Opravdu chcete tuto položku smazat?</p>
    <div class="d-flex justify-content-center mt-3">
        <button type="submit" class="btn btn-dark btn-sm rounded-pill">Smazat</button>
    </div>
</form>
