{% load static %} 
{% load crispy_forms_tags %}

<div class="navbar navbar-dark bg-dark">
    <p class="h5 text-white">Smazání skladové položky</p>
    <p class="h6 text-white">{{ object }}</p>
</div>

<form class="mt-2" method="post" action="{% url 'delete_sklad' object.pk %}">
    {% csrf_token %}
    <p class="h6">Opravdu chcete tuto položku smazat?:</p>
    <div class="d-flex justify-content-center mt-3">
        <button type="submit" class="btn btn-dark btn-sm">Smazat</button>
    </div>
</form>
