{% load static %}
{% load custom_filters %}
    
<div>
    <table class="table table-sm table-striped table-bordered">   
        <thead class="thead-dark">
            <tr>
                <th colspan=2 scope="col">Zboží od dodavatele: {{ dodavatele.dodavatel }}</h6>   
            </tr>
            <tr>
                <th class="width-nowrap">Č. varianty</th>
                <th>Název varianty</th>
            </tr>
        </thead>
        <tbody>
            {% if varianty %}
                {% for varianta in varianty %}
                    <tr>
                        <td class="width-nowrap">{{ varianta.cislo_varianty }}</td>                    
                        <td class="container-fluid">{{ varianta.nazev_varianty|truncatechars:40 }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>Dodavatel nemá přiřazené žádné zboží.</td>
                </tr>
            {% endif %}
        </tbody>
</div>
