{% load static %}
{% load custom_filters %}

{% include "hpm_sklad/navbar_sklad.html" %}
    
<div class="bg-dark text-white mt-3">
    <p class="h6 py-2 px-2">Detail položky: {{ sklad.nazev_dilu|truncatechars:50 }}</p>
</div>
<table class="table table-sm table-striped table-bordered">         
    <tbody>
        {% for field in detail_item_fields %}
            <tr>
                <th class="width-nowrap">{{ field.verbose_name }}</th>
                <td class="container-fluid">{{ object|get_attribute:field.name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<table class="table table-sm table-striped table-bordered">
    <tbody>
        {% for field in info_fields %}
            <tr>
                <th class="width-nowrap">{{ field.verbose_name }}</th>
                {% if field.name == 'pod_minimem' %}
                    <td class="container-fluid">
                        {{ object.pod_minimem_display }}
                    </td>
                {% else %}
                    <td class="container-fluid">
                        {{ object|get_attribute:field.name }}
                    </td>
                {% endif %}          
            </tr>
        {% endfor %}
    </tbody>
</table>

<table class="table table-sm table-striped table-bordered">    
    <tbody>
        <tr>
            <th colspan=10 scope="col">Pro zařízení</th>
        </tr>
        {% if equipment_fields %}
            <tr>
                {% for field in equipment_fields %}
                    <td>{{ field|upper}}</td>
                    {% if forloop.counter|divisibleby:5 and not forloop.last %}
            </tr><tr>
                    {% endif %}        
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                <td>Žádné vybrané konkrétní zařízení.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
