{% load static %}
{% load custom_filters %}

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="col">
	        {% if not perms.hpm_sklad.change_sklad %}
                <a class="btn btn-primary btn-sm" href="javascript:void(0);" onclick="loadForm('{% url 'update_objednano_sklad' object.evidencni_cislo %}')">Objednáno?</a>    
	        {% endif %}
            {% if perms.hpm_sklad.change_sklad %}            
                <a class="btn btn-primary btn-sm" href="javascript:void(0);" onclick="loadForm('{% url 'update_sklad' object.evidencni_cislo %}')">Úprava</a>       
            {% endif %}
            {% if perms.hpm_sklad.delete_sklad %}  
                <a class="btn btn-primary btn-sm" href="javascript:void(0);" onclick="loadForm('{% url 'delete_sklad' object.evidencni_cislo %}')">Smazání</a>            
            {% endif %}
            {% if perms.hpm_sklad.add_auditlog and perms.hpm_sklad.change_sklad %}  
                <a class="btn btn-primary btn-sm" href="javascript:void(0);" onclick="loadForm('{% url 'receipt_audit_log' object.evidencni_cislo %}')">Příjem</a>
                {% if object.mnozstvi > 0 %}
                    <a class="btn btn-primary btn-sm" href="javascript:void(0);" onclick="loadForm('{% url 'dispatch_audit_log' object.evidencni_cislo %}')">Výdej</a>
                {% endif %}
            {% endif %}
            {% if perms.hpm_sklad.add_varianty %}            
                <a class="btn btn-primary btn-sm" href="javascript:void(0);" onclick="loadForm('{% url 'create_varianty' object.pk %}')">Varianta</a>       
            {% endif %}          
        </div>
    </nav>
</header>

<p class="small">Detaily skladové položky:</p>
    
<div>
    <table class="table table-sm table-striped table-bordered">       
        <tbody>
            {% for field in detail_item_fields %}
                <tr>
                    <th class="width-nowrap">{{ field.verbose_name }}</th>
                    <td class="container-fluid">{{ object|get_attribute:field.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <table class="table-sm table-bordered container-fluid">
        <tbody>
            <tr>
                {% for field in info_fields %}
                    <th>{{ field.verbose_name }}</th>
                    {% if field.name == 'pod_minimem' %}
                        <td>
                            {{ object.pod_minimem_display }}
                        </td>
                    {% else %}
                        <td>
                            {{ object|get_attribute:field.name }}
                        </td>
                        <td></td>
                    {% endif %}          
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <br>
    <table class="table-sm table-bordered">    
        <tbody>
            {% if equipment_fields_true %}
                <tr>
                    <th>Pro zařízení</th>
                    {% for field in equipment_fields_true %}
                        <td>{{ field.verbose_name }}</td>
                    {% endfor %}
                </tr>
            {% else %}
                <tr>
                    <th>Pro zařízení</th>
                    <td>Žádné konkrétní zařízení.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <hr>
    <table class="table-sm table-striped table-bordered">
        <p class="small">Varianty skladové položky:</p>
        <tbody>
            {% if varianty %}
                {% for varianta in varianty %}
                    <tr>
                        <td class="width-nowrap">{{ varianta.id_dodavatele|truncatechars:20 }}</td>                    
                        <td class="container-fluid">{{ varianta.nazev_varianty|truncatechars:40 }}</td>
                        {% if perms.hpm_sklad.update_varianty %}            
                            <td>
                                <a class="btn btn-primary btn-xs" href="javascript:void(0);" onclick="loadForm('{% url 'update_varianty' varianta.pk %}')">Upravit</a>       
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>Neexistuje žádná varianta.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
