{% load static %}
{% load custom_filters %}

<header>
    <nav class="navbar">
        <div class="navbar-left">
	    {% if not perms.hpm_sklad.change_sklad %}
                <a class="nav-item" href="javascript:void(0);" onclick="loadForm('{% url 'update_objednano_sklad' object.evidencni_cislo %}')">Objednáno?</a>    
	    {% endif %}
            {% if perms.hpm_sklad.change_sklad %}            
                <a class="nav-item" href="javascript:void(0);" onclick="loadForm('{% url 'update_sklad' object.evidencni_cislo %}')">Úprava</a>       
            {% endif %}
            {% if perms.hpm_sklad.delete_sklad %}  
                <a class="nav-item" href="javascript:void(0);" onclick="loadForm('{% url 'delete_sklad' object.evidencni_cislo %}')">Smazání</a>            
            {% endif %}
            {% if perms.hpm_sklad.add_auditlog %}  
                <a class="nav-item" href="javascript:void(0);" onclick="loadForm('{% url 'create_audit_log' object.evidencni_cislo %}')">Příjem</a>
            {% endif %}
        </div>
    </nav>
</header>

<h3 class="text-center">Detaily skladové položky</h3>
    
<div class="container">
    <table>
        <thead>
            <tr>
                <th>Detaily:</th>
            </tr>
        </thead>          
        <tbody>
            {% for field in detail_item_fields %}
                <tr>
                    <th>{{ field.verbose_name }}</th>
                    <td>{{ object|get_attribute:field.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>Příznaky:</th>
            </tr>
        </thead>
        <tbody>
            {% for field in info_fields %}
                <tr>
                    <th>{{ field.verbose_name }}</th>
                    <td>
                        {% if field.name == 'pod_minimem' %}
			    {{ object.pod_minimem_display }}
                        {% else %}
			    {{ object|get_attribute:field.name }}
			{% endif %}
		    </td>                            
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>Zařízení:</th>
            </tr>
        </thead>        
        <tbody>
            <tr>
                {% for field in equipment_fields_true %}
                    <td>{{ field.verbose_name }}</td>
                {% endfor %}                
            </tr>
        </tbody>
    </table>
</div>
