{% load static %}
{% load custom_filters %}
    
<div>
    <table class="table table-sm table-striped table-bordered">   
        <thead class="thead-dark">
            <tr>
                <th colspan=2 scope="col">Detail pohybu na skladě:</h6>                
            </tr>
        </thead>
        <tbody>
            {% for field in detail_item_fields %}
                <tr>
                    <th scope="col" class="width-nowrap">{{ field.verbose_name }}</th>
                    <td scope="col" class="container-fluid">{{ object|get_attribute:field.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
