<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="col">    
        <div class="btn-group btn-group-sm dropdown my-1 mr-1">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if db_table == 'sklad' %}SKLAD
                {% elif db_table == 'audit_log' %}POHYBY
                {% elif db_table == 'dodavatele' %}DODAVATELÉ
                {% elif db_table == 'zarizeni' %}ZAŘÍZENÍ
                {% elif db_table == 'poptavky' %}POPTÁVKY
                {% else %}Výběr modulu
                {% endif %}
            </button>
            <div class="dropdown-menu" aria-labeledby="dropdownMenuButton1">
                {% if db_table != 'sklad' %}<a class="dropdown-item small" href="{% url 'sklad' %}">Sklad</a>{% endif %}
                {% if request.user_agent.is_pc %}
                    {% if db_table != 'audit_log' %}<a class="dropdown-item small" href="{% url 'audit_log' %}">Pohyby</a>{% endif %}
                    {% if db_table != 'dodavatele' %}<a class="dropdown-item small" href="{% url 'dodavatele' %}">Dodavatelé</a>{% endif %}
                    {% if db_table != 'zarizeni' %}<a class="dropdown-item small" href="{% url 'zarizeni' %}">Zařízení</a>{% endif %}                    
                    {% if db_table != 'poptavky' %}<a class="dropdown-item small" href="{% url 'poptavky' %}">Poptávky</a>{% endif %}           
                {% endif %}
            </div>
        </div>
        {% if db_table == 'sklad' or db_table == 'audit_log' or db_table == 'dodavatele' %}
            <div class="btn-group btn-group-sm dropdown mr-1">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Export
                </button>
                {% if object_list %}
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        {% if db_table == 'audit_log' %}
                        <a class="dropdown-item small" href="{% url 'audit_log_export_csv' %}?{{ request.GET.urlencode }}">
                        {% elif db_table == 'sklad' %}
                        <a class="dropdown-item small" href="{% url 'sklad_export_csv' %}?{{ request.GET.urlencode }}">
                        {% elif db_table == 'dodavatele' %}
                        <a class="dropdown-item small" href="{% url 'dodavatele_export_csv' %}?{{ request.GET.urlencode }}">
                        {% endif %}
                            Export do CSV
                        </a>     
                        {% if db_table == 'audit_log' and typ_operace == 'VÝDEJ' %}              
                            <a class="dropdown-item small" href="{% url 'audit_log_export_consumption_to_csv' %}?{{ request.GET.urlencode }}">
                                Export spotřeby do CSV
                            </a>
                            <a class="dropdown-item small" href="{% url 'audit_log_graph' %}?{{ request.GET.urlencode }}">
                                Graf nákladů
                            </a>                            
                            {% if typ_udrzby and typ_udrzby != 'VŠE' %}
                                <a class="dropdown-item small" href="{% url 'audit_log_graph_type_of_maintenance' %}?{{ request.GET.urlencode }}">
                                    Graf nákladů dle typu údržby
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}          
    </div>
    {% if user.is_authenticated %}
        <div class="col-auto">
            <div>
                <p class="h6 small text-white">Přihlášený uživatel:</p>
            </div>
            <div>
                <p class="h6 small text-center my-0 text-white">{{ current_user.first_name }} {{ current_user.last_name }}</p>
            </div>
        </div>    
        <div class="col-auto">   
            <a class="btn btn-light btn-sm" href="{% url 'logout' %}">Odhlásit se</a>
        </div>
    {% else %}
        <div class="col-auto">
            <a class="btn btn-light btn-sm" href="{% url 'login' %}">Přihlásit se</a>
        </div>
    {% endif %}        
</nav>



