<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="btn-group btn-group-sm dropdown mr-1 my-1">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dodavatelé
            </button>
            <div class="dropdown-menu" aria-labeledby="dropdownMenuButton1">
                    <a class="dropdown-item small" href="javascript:void(0);" onclick="loadForm('{% url 'detail_dodavatele' object.pk %}')">Detail dodavatele</a>
                    <div class="dropdown-divider"></div>
                {% if perms.hpm_sklad.add_dodavatele %}
                    <a class="dropdown-item small" href="javascript:void(0);" onclick="loadForm('{% url 'create_dodavatele' %}?pk={{ object.pk }}')">Nový dodavatel</a>
                {% endif  %}
                {% if perms.hpm_sklad.change_dodavatele %}            
                    <a class="dropdown-item small" href="javascript:void(0);" onclick="loadForm('{% url 'update_dodavatele' object.pk %}')">Úprava dodavatele</a>       
                {% endif %}
                {% if perms.hpm_sklad.delete_sklad %}  
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item small" href="javascript:void(0);" onclick="loadForm('{% url 'delete_dodavatele' object.pk %}')">Smazání dodavatele</a>            
                {% endif %}
            </div>
        </div>
        <div class="btn-group btn-group-sm dropdown mr-1 my-1">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Poptávky
            </button>
            <div class="dropdown-menu" aria-labeledby="dropdownMenuButton2">
                <a class="dropdown-item small" href="javascript:void(0);" onclick="loadForm('{% url 'show_poptavky_dodavatele' object.pk %}')">Poptávky dodavatele</a>     
                {% if perms.hpm_sklad.add_poptavky %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item small" href="javascript:void(0);" onclick="loadForm('{% url 'create_poptavka' object.pk %}')">Nová poptávka</a>
                {% endif %}          
            </div>
        </div>    
        <div class="btn-group btn-group-sm dropdown mr-1 my-1">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Varianty
            </button>
            <div class="dropdown-menu" aria-labeledby="dropdownMenuButton3">
                <a class="dropdown-item small" href="javascript:void(0);" onclick="loadForm('{% url 'show_varianty_dodavatele' object.pk %}')">Varianty dodavatele</a>     
            </div>
        </div>   
    </nav>
</header>
