{% load custom_filters %}
{% if is_paginated %}
<div class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="col">
        {% if page_obj.has_previous %}
            <a class="btn btn-secondary btn-xs" href="?page=1&{{ request.GET.urlencode|url_remove_param:'page' }}"><i class="fas fa-angles-left"></i> první</a>
            <a class="btn btn-secondary btn-xs" href="?page={{ page_obj.previous_page_number }}&{{ request.GET.urlencode|url_remove_param:'page' }}"><i class="fas fa-angle-left"></i> předchozí</a>
        {% endif %}
            
        <span class="btn btn-secondary btn-xs">
            Str. {{ page_obj.number }} ze {{ page_obj.paginator.num_pages }}
        </span>
            
        {% if page_obj.has_next %}
            <a class="btn btn-secondary btn-xs" href="?page={{ page_obj.next_page_number }}&{{ request.GET.urlencode|url_remove_param:'page' }}">další <i class="fas fa-angle-right"></i></a>
            <a class="btn btn-secondary btn-xs" href="?page={{ page_obj.paginator.num_pages }}&{{ request.GET.urlencode|url_remove_param:'page' }}">poslední <i class="fas fa-angles-right"></i></a>
        {% endif %}
    </span>
    <h6 class="col-auto">Přihlášený uživatel: {{ current_user.first_name }} {{ current_user.last_name }}</h6>
</div>
{% endif %}
