{% load custom_filters %}

{% if is_paginated %}
    <nav aria-label="Page navigation" class="navbar navbar-expand-lg navbar-light bg-dark justify-content-center">
        <ul class="pagination pagination-sm my-0">
            {% if page_obj.has_previous %}
                <li class="page-item my-0">
                    <a class="page-link" href="?page=1&{{ request.GET.urlencode|url_remove_param:'page' }}"><i class="fas fa-angles-left"></i></a>
                </li>
                <li class="page-item my-0">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ request.GET.urlencode|url_remove_param:'page' }}"><i class="fas fa-angle-left"></i></a>
                </li>
            {% else %}
                <li class="page-item my-0 disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-angles-left"></i></a>
                <li class="page-item my-0 disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-left"></i></a>
                </li>                
            {% endif %}
            
            <li class="page-item my-0">
                <a class="page-link" href="?page={{ page_obj.number }}&{{ request.GET.urlencode|url_remove_param:'page' }}">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</a>
            </li>
                
            {% if page_obj.has_next %}
                <li class="page-item my-0"><a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ request.GET.urlencode|url_remove_param:'page' }}"><i class="fas fa-angle-right"></i></a></li>
                <li class="page-item my-0">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&{{ request.GET.urlencode|url_remove_param:'page' }}"><i class="fas fa-angles-right"></i></a>
                </li>
            {% else %}
                <li class="page-item my-0 disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-right"></i></a>
                <li class="page-item my-0 disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-angles-right"></i></a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
