{% load static %}
{% load custom_filters %}

{% include "hpm_sklad/navbar_sklad.html" %}
    
<div class="bg-dark text-white mt-3">
    <p class="h6 py-2 px-2">Varianty položky: {{ object.nazev_dilu|truncatechars:50 }}</p>
</div>
<table class="table table-sm table-striped table-bordered">
    <thead class="thead-dark">
            <tr>
            <th>Dodavatel</th>
            <th>Název varianty</th>
            <th>Akce</th>
        </tr>
    </thead>     
    <tbody>
        {% if varianty %}
            {% for varianta in varianty %}
                <tr>
                    <td class="width-nowrap align-middle">{{ varianta.dodavatel|truncatechars:20 }}</td>                    
                    <td class="container-fluid align-middle">{{ varianta.nazev_varianty|truncatechars:40 }}</td>
                    {% if perms.hpm_sklad.update_varianty %}            
                        <td>
                            <a class="btn btn-outline-dark btn-xs rounded-pill" href="javascript:void(0);" onclick="loadForm('{% url 'update_varianty' varianta.pk %}')">Upravit</a>       
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>Neexistuje žádná varianta.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
