{% extends "hpm_sklad/base_left_right_column.html" %}
{% load static %}

{% block navbar %}
<nav class="navbar">
    <div class="navbar-left">
        {% include "hpm_sklad/navbar.html" %}
        {% if perms.hpm_sklad.add_sklad %}
            <a class="button nav-item" href="javascript:void(0);" onclick="loadForm('{% url 'create_sklad' %}')">Vytvoř položku</a>
        {% endif %}
    </div>
    <div class="navbar-right">
        {% include "hpm_sklad/login.html" %}
    </div>
</nav>
{% endblock %}

{% block left_content %}
<h3 class="text-center">Skladové zásoby</h3>
    <form method="GET" action="" class="search-form">
        <div class="search-group">
            <input class="search" type="text" name="q" placeholder="Vyhledat název dílu" value="{{ request.GET.q }}">
            <button class="search nav-item" type="submit">Vyhledat</button>
            <label>
                <input type="checkbox" name="kriticky_dil" {% if request.GET.kriticky_dil == 'on' %}checked{% endif %}> Kritický díl
            </label>
            <label>
                <input type="checkbox" name="ucetnictvi" {% if request.GET.ucetnictvi == 'on' %}checked{% endif %}> Účetnictví
            </label>
        </div>
        <div class="radio-group">
            <label>
                <input type="radio" name="radio_filter" value="" {% if not request.GET.radio_filter or request.GET.radio_filter == '' %}checked{% endif %}> VŠE
            </label>
            <label>
                <input type="radio" name="radio_filter" value="hsh" {% if request.GET.radio_filter == 'hsh' %}checked{% endif %}> HSH
            </label>
            <label>
                <input type="radio" name="radio_filter" value="tq8" {% if request.GET.radio_filter == 'tq8' %}checked{% endif %}> TQ8
            </label>
            <label>
                <input type="radio" name="radio_filter" value="tqf_xl1" {% if request.GET.radio_filter == 'tqf_xl1' %}checked{% endif %}> TQF XL1
            </label>
            <label>
                <input type="radio" name="radio_filter" value="tqf_xl2" {% if request.GET.radio_filter == 'tqf_xl2' %}checked{% endif %}> TQF XL2
            </label>
            <label>
                <input type="radio" name="radio_filter" value="dc_xl" {% if request.GET.radio_filter == 'dc_xl' %}checked{% endif %}> DC XL
            </label>
            <label>
                <input type="radio" name="radio_filter" value="dac_xl1_2" {% if request.GET.radio_filter == 'dac_xl1_2' %}checked{% endif %}> DAC XL1-2
            </label>
            <label>
                <input type="radio" name="radio_filter" value="dl_xl" {% if request.GET.radio_filter == 'dl_xl' %}checked{% endif %}> DL XL
            </label>
            <label>
                <input type="radio" name="radio_filter" value="dac" {% if request.GET.radio_filter == 'dac' %}checked{% endif %}> DAC
            </label>
            <label>
                <input type="radio" name="radio_filter" value="lac_1" {% if request.GET.radio_filter == 'lac_1' %}checked{% endif %}> LAC 1
            </label>
            <label>
                <input type="radio" name="radio_filter" value="lac_2" {% if request.GET.radio_filter == 'lac_2' %}checked{% endif %}> LAC 2
            </label>
            <label>
                <input type="radio" name="radio_filter" value="ipsen_ene" {% if request.GET.radio_filter == 'ipsen_ene' %}checked{% endif %}> IPSEN ENE
            </label>
            <label>
                <input type="radio" name="radio_filter" value="hsh_ene" {% if request.GET.radio_filter == 'hsh_ene' %}checked{% endif %}> HSH ENE
            </label>
            <label>
                <input type="radio" name="radio_filter" value="xl_ene1" {% if request.GET.radio_filter == 'xl_ene1' %}checked{% endif %}> XL ENE1
            </label>
            <label>
                <input type="radio" name="radio_filter" value="xl_ene2" {% if request.GET.radio_filter == 'xl_ene2' %}checked{% endif %}> XL ENE2
            </label>
            <label>
                <input type="radio" name="radio_filter" value="ipsen_w" {% if request.GET.radio_filter == 'ipsen_w' %}checked{% endif %}> IPSEN W
            </label>
            <label>
                <input type="radio" name="radio_filter" value="hsh_w" {% if request.GET.radio_filter == 'hsh_w' %}checked{% endif %}> HSH W
            </label>
            <label>
                <input type="radio" name="radio_filter" value="kw" {% if request.GET.radio_filter == 'kw' %}checked{% endif %}> KW
            </label>
            <label>
                <input type="radio" name="radio_filter" value="kw1" {% if request.GET.radio_filter == 'kw1' %}checked{% endif %}> KW 1
            </label>
            <label>
                <input type="radio" name="radio_filter" value="kw2" {% if request.GET.radio_filter == 'kw2' %}checked{% endif %}> KW 2
            </label>
            <label>
                <input type="radio" name="radio_filter" value="kw3" {% if request.GET.radio_filter == 'kw3' %}checked{% endif %}> KW 3
            </label>
            <label>
                <input type="radio" name="radio_filter" value="mikrof" {% if request.GET.radio_filter == 'mikrof' %}checked{% endif %}> MIKROF
            </label>
        </div>
    </form>
    <div class="container-sklad">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Ev. číslo</th>
                    <th>Č. karty</th>
                    <th>Název dílu</th>
                    <th>Min.</th>
                    <th>Množství</th>
                    <th>Jedn.</th>
                    <th>Umístění</th>
                    <th>Dodavatel</th>
                    <th>Datum nákupu</th>
                    <th>Číslo obj.</th>
                    <th>EUR/ jedn.</th>
                    <th>Celkem EUR</th>
                    <th>Poznámka</th>
                </tr>
            </thead>
            <tbody class="show-pointer">
                {% for sklad in object_list %}
                <tr data-evidencni-cislo="{{ sklad.evidencni_cislo }}" data-detail-url="{% url 'detail_sklad' sklad.evidencni_cislo %}" onclick="loadDetail('{% url 'detail_sklad' sklad.evidencni_cislo %}', '{{ sklad.evidencni_cislo }}')"
                {% if sklad.evidencni_cislo == selected_sklad.evidencni_cislo %} class="selected-row"{% endif %} {% if sklad.pod_minimem == "ANO" %} class="pod-minimem-row"{% endif %}>
                    <td>{{ sklad.evidencni_cislo }}</td>
                    <td>{{ sklad.interne_cislo }}</td>
                    <td>{{ sklad.nazev_dilu }}</td>
                    <td>{{ sklad.min_mnozstvi_ks }}</td>
                    <td>{{ sklad.mnozstvi_ks_m_l }}</td>
                    <td>{{ sklad.jednotky }}</td>
                    <td>{{ sklad.umisteni }}</td>
                    <td>{{ sklad.dodavatel }}</td>
                    <td>{{ sklad.datum_nakupu|date:"d.m.Y" }}</td>
                    <td>{{ sklad.cislo_objednavky }}</td>
                    <td>{{ sklad.jednotkova_cena_eur }}</td>
                    <td>{{ sklad.celkova_cena_eur }}</td>
                    <td>{{ sklad.poznamka }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
    {% include "hpm_sklad/pagination.html" %}
{% endblock %}

{% block script %}
    <script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
