{% load static %} 
{% load crispy_forms_tags %}

{% include "hpm_sklad/navbar_sklad.html" with object=skladova_polozka %}
<div class="navbar navbar-dark bg-dark my-3 pb-0 align-items-center">
    <div>
        <p class="h6 text-white">Úprava varianty pro:</p>
        <p class="text-white">{{ skladova_polozka|truncatechars:50 }}</p>
    </div>
</div>

<form class="mt-2" method="post"
    action="{% url 'update_varianty' object.pk %}"
    onsubmit="this.querySelector('button[type=submit]').disabled = true;">
    {% csrf_token %}
    {% crispy form %}
</form>
